body h1 {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.85);
    height: 2.4rem;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    margin-top: 0;
    font-size: 2rem;
}

body>footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: (255, 255, 255, 0.85);
    width: 100%;
    height: 2.4rem;
    border-top: 1px solid #000;
    text-align: center;
}

main {
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 0;
    margin-right: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

article {
    display: flex;
    flex-direction: row;
    height: 1.8rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    padding: 1rem;
    position: relative;
    width: calc(100% - 2rem);
    background-color: rgba(255, 255, 255, 0.95);
    transition: 1s;
    z-index: 0;
}

article footer {
    order: 1;
    text-align: center;
    margin-left: auto;
}

article img {
    width: 30rem;
    box-shadow: 0, 0, 0.2rem rgba(0, 0, 0, 0.5);
}

article p {
    display: none;
}

header h2 {
    order: 0;
    text-align: center;
    font-size: 1.5rem;
    margin: 0;
}

article footer img {
    width: 3.8rem;
    height: 3.8rem;
    position: relative;
    top: -1rem;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
}

article:hover {
    height: 25rem;
    overflow: auto;
    flex-direction: column;
    z-index: 20;
    transition: height 1s;
}

article:hover p {
    display: block;
}

article:hover footer img {
    width: 30rem;
    height: auto;
    top: 0;
}

div {
    display: flex;
    width: 30rem;
    height: 3.8rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

@media (max-width: 32rem){
    h2 title {
        font-size: 1rem;
    }
    article p {
        max-width: 80%;
    }
    article footer img{
        max-width: 80%;
    }
    footer{
        font-size: 0.7rem;
    }
}